n8n/workflows/auto_generated/POST_02_Fatigue_Management.json
{
    "name": "POST_02_Fatigue_Management",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fatigue-monitor",
                "options": {}
            },
            "name": "Webhook Input",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT date_trunc('day', created_at) as day, SUM(weight * reps) as daily_load FROM workout_logs WHERE user_id = $1 AND created_at > NOW() - INTERVAL '28 days' GROUP BY 1 ORDER BY 1;",
                "additionalFields": {
                    "queryParams": "={{$json.body.userId}}"
                }
            },
            "name": "Fetch Workload History",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// ACWR Calculation (Acute:Chronic Workload Ratio)\nconst history = items.map(i => i.json);\n\n// Last 7 days load\nconst acuteLoad = history.slice(-7).reduce((acc, curr) => acc + parseInt(curr.daily_load), 0) / 7;\n\n// Last 28 days load\nconst chronicLoad = history.reduce((acc, curr) => acc + parseInt(curr.daily_load), 0) / 28;\n\nconst ratio = acuteLoad / (chronicLoad || 1);\nlet status = 'OPTIMAL';\n\nif (ratio > 1.5) status = 'DANGER_ZONE';\nelse if (ratio > 1.3) status = 'HIGH_RISK';\nelse if (ratio < 0.8) status = 'DETRAINING';\n\nreturn [{ json: { acuteLoad, chronicLoad, ratio, status } }];"
            },
            "name": "ACWR Engine",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Input": {
            "main": [
                [
                    {
                        "node": "Fetch Workload History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Workload History": {
            "main": [
                [
                    {
                        "node": "ACWR Engine",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}